*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fondhome{
     background-image: url("https://i.etsystatic.com/41188523/r/il/15af13/4681461169/il_794xN.4681461169_rfw5.jpg");
    background-color: rgba(0,0,0,0.3);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}
.fondhome{
    max-width: 1300px;
    max-height: 3000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}  
body nav ul {
    list-style-type: none;
    margin: 50;
    padding: 30;
    overflow: hidden;
}
h1 {
    font-size: 42px;
    font-family: 'roboto';
}

body section p{
    font-size: 32px;
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(60, 40, 241);
}

body nav div ul li {
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:70px;
    margin-right: 70px;
}
body nav div ul li {
    float: left;
    text-align: center;
}
option {
    font-size: 23px;
    border-width: 76;
}

body nav div ul li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e9e9e9;
    padding-top: 100px;
}
.container1{
    max-width: 1300px;
    max-height: 3000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.container1{
    background-image: url("C:/Users/DELL/Desktop/GoMyCode/etapeCSS/fond_ecran_music2.png");
   background-color: rgba(0,0,0,0.3);
 background-repeat: no-repeat;
   background-position: center;
   background-size: cover
}
.container1 h2{
    margin-bottom: 10px;
}

.container1 p{
    line-height: 1.6;
}
.container2{
    max-width: 1300px;
    max-height: 3000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.container2{
    background-image: url("C:/Users/DELL/Desktop/GoMyCode/etapeCSS/fond_ecran_music2.png");
   background-color: rgba(0,0,0,0.3);
 background-repeat: no-repeat;
   background-position: center;
   background-size: cover
}
.container2 h2{
    margin-bottom: 10px;
}

.container2 p{
    line-height: 1.6;
}
.container3{
    max-width: 1300px;
    max-height: 3000px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.container3{
    background-image: url("C:/Users/DELL/Desktop/GoMyCode/etapeCSS/fond_ecran_music2.png");
   background-color: rgba(0,0,0,0.3);
 background-repeat: no-repeat;
   background-position: center;
   background-size: cover
}
.container3 h2{
    margin-bottom: 10px;
}
body section ul li{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(60, 40, 241);
    margin-left: 45px;
}
.container3 p{
    line-height: 1.6;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50;
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
 }
 table, caption, th, td {

    border: 2px solid skyblue
    }
table{
    margin-left: auto;
    margin-right: auto;
}
#form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15 auto;
    margin-bottom: auto;
    width: 350px;
   
    height: auto;
   
    left: 50%;
   
    top: 50%;
   
}
.container6{
  margin-left: 90px;
}    